<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="text-end">Hola {{usuario}}!
            <a class="btn btn-dark" href="/admin/login/logout"> Cerrar sesión
                <i class="fasfa-sign-out-alt">
                </i>
            </a>
        </p>
    </div>

</div>