<main class="holder">
    <div> <img src="images/comentarios.jpg" alt="comentarios"></div>
    <p></p>
</main>
<main class="holder">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Recurso</th>
                <th scope="col">Descripción</th>
                <th scope="col">Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Tortilla de patata, por una buena causa</td>
                <td>El objetivo de esta propuesta didáctica es centrar la atención del alumnado en la interpretación
                    de recetas y folletos publicitarios. La actividad trata de una clase de Primaria que desea
                    recaudar una cantidad de dinero vendiendo tortilla de patata para donar la recaudación a un fin
                    benéfico. La buena elección de la cantidad de ingredientes que hay que comprar para la
                    elaboración de las tortillas, será clave para conseguir de forma óptima esta colecta. <a
                        href="https://www.edu-casio.es/recursos-didacticos/tortilla-patata-buena-causa/"
                        class="link-info">Enlace recurso</a></td>
                <td>María Sucino</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Multiplicar números decimales ¡coser y cantar!</td>
                <td>Descubrir, indagar y aprender las regularidades de la multiplicación de números decimales
                    utilizando la calculadora y con la ayuda de ciertas preguntas intencionadas, es la finalidad de
                    la siguiente actividad. Trabajar de esta manera las matemáticas permite al alumnado obtener
                    conclusiones y comprender la propiedad para efectuar dichas multiplicaciones. <a
                        href="https://www.edu-casio.es/recursos-didacticos/multiplicar-numeros-decimales-coser-y-cantar/"
                        class="link-info">Enlace recurso</a></td>
                <td>Teresa Rodriguez</td>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Números romanos</td>
                <td>Los números romanos son el sistema de numeración que se utilizana en el antiguo Imperio romano.
                    Los símbolos de la numeración romana corresponde a letras, que representan diferentes valores y
                    se suman o restan según su colocación, para poder expresar diferentes cifras. Actualmente,
                    seguimos aprendiendo los números y símbolos romanos en Primaria, en los colegios, ya que hoy en
                    día se sigue utilizando esta numeración en algunas ocasiones, como para hablar de siglos,
                    nombrar a los reyes, o para denominar eventos que se celebran cada año. <a
                        href="https://www.edufichas.com/matematicas/numeros-romanos/" class="link-info">Enlace
                        recurso</a></td>
                <td>Carlos Estebanez</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Ábaco, fichas de actividades</td>
                <td>El ábaco es uno de los grandes instrumentos que podemos tener para enseñar matemáticas a los
                    niños. Este instrumento fué inventado en china hace miles de años, y en la actualidad sigue
                    siendo utilizado para operaciones de cálculo en muchos pueblos orientales. Hemos preparado
                    algunas fichas con ábaco para trabajar los números. <a
                        href="https://www.edufichas.com/matematicas/abaco/" class="link-info">Enlace
                        recurso</a></td>
                <td>Julieta Ortiz</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>xxxxxxxxxxxxx</td>
                <td>xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx<a href="#" class="link-info">Enlace
                        recurso</a></td>
                <td>xxxxxx xxxxxxxxxxxxx</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>xxxxxxxxxxxxx</td>
                <td>xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx<a href="#" class="link-info">Enlace
                        recurso</a></td>
                <td>xxxxxx xxxxxxxxxxxxx</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>xxxxxxxxxxxxx</td>
                <td>xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx<a href="#" class="link-info">Enlace
                        recurso</a></td>
                <td>xxxxxx xxxxxxxxxxxxx</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>xxxxxxxxxxxxx</td>
                <td>xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx<a href="#" class="link-info">Enlace
                        recurso</a></td>
                <td>xxxxxx xxxxxxxxxxxxx</td>
            </tr>
        </tbody>
    </table>
    <footer class="holder">
        <p>
            Diseñado por Raúl Diaz - &copy;2022
        </p>