<main class="holder">

    <div class="columnas">
        <section>
            <div>
                <img src="images/yoestudio.jpg" alt="estudiar">
            </div>
            <p class="text-secondary">Las matemáticas son fundamentales para el desarrollo intelectual de los niños. Les
                ayuda a ser lógicos, a razonar ordenadamente y a tener una mente preparada para el pensamiento, la
                crítica y la abstracción.</p>

            <p class="text-secondary"> Configuran actitudes y valores en los niños y adolescentes, dado que garantizan
                una
                solidez en sus
                fundamentos, seguridad en los procedimientos y confianza en los resultados obtenidos. Todo esto crea
                en los estudiantes una disposición consciente y favorable para emprender acciones que conducen a la
                solución de los problemas a los que se enfrentan cada día.</p>
            <h4 class="bienvenidos">Formación en valores</h4>
            <P class="text-muted">A su vez, las matemáticas contribuyen a la formación de valores, determinando sus
                actitudes y su conducta. Sirven como patrones para guiar su vida, un estilo de
                enfrentarse a la realidad lógico y coherente, la búsqueda de la exactitud en los resultados, una
                comprensión y expresión clara a través de la utilización de símbolos, capacidad de abstracción,
                razonamiento y generalización y la percepción de la creatividad como un valor.
                <li class="text-success"> El afán de saber, implica que los adquirir conocimientos, hábitos y
                    técnicas de trabajo intelectual para utilizar en la información que se les propone, asuma un
                    sentido crítico.</li>
                <li class="text-success">
                    La capacidad de decidir, laprudencia, predicción, iniciativa, seguridad y confianza en sí mismo
                    son hábitos que se construyen día día, sobre la base del respecto a las creencias e ideas de los
                    demás, colaboración, solidaridad,
                    honradez, honestidad, laboriosidad, optimismo.
                </li>

            </P>
        </section>
        <section class="testimonios">
            <h3 class="testimonio1">Frase del día</h3>
            <div class="testimonio">
                <span class="cita"> «La única forma de aprender Matemática es hacer Matemática»</span>
                <span class="autor">Paul Richard Halmos</span>

            </div>
        </section>


    </div>
    </main>
    <footer class="holder">
        <p>
            Diseñado por Raúl Diaz - &copy;2022
        </p>