<main class="holder">
    <div> <img src="images/noticias.png" alt="noticias"></div>
    <div class="servicio">
        <img src="images/noticia1.png" alt="01">
        <div class="info">
            <h4>Maryna Viazovska, matemática: “Yo no intentaría imaginar un mundo en ocho dimensiones, es un
                experimento
                peligroso</h4>
            <p>
                La investigadora ucraniana ha ganado la medalla Fields, cumbre de las matemáticas, tras demostrar
                cuál
                es la mejor forma de apilar esferas más allá del espacio tridimensional.
            </p>
            <p> <a class="enlace"
                    href="https://elpais.com/ciencia/2022-07-29/maryna-viazovska-matematica-yo-no-intentaria-imaginar-un-mundo-en-ocho-dimensiones-es-un-experimento-peligroso.html">Enlace
                    a la nota completa</a>
            </p>
        </div>

    </div>
    <div class="servicio">
        <img src="images/noticia2.jpeg" alt="02">
        <div class="info">
            <h4>La lógica matemática que explica cómo circula esta rara bicicleta con dos medias ruedas traseras
            </h4>
            <p>
                El ingeniero ruso Sergii Gordieiev vuelve a sorprender a sus seguidores en internet con una bici
                revolucionaria
            </p>
            <p> <a class="enlace"
                    href="https://www.lavanguardia.com/motor/vehiculos/bicicletas/20220731/8421756/logica-matematica-explica-como-circula-rara-bicicleta-dos-medias-ruedas-traseras.html">Enlace
                    a la nota completa</a>
            </p>
        </div>

    </div>
    <div class="servicio">
        <img src="images/noticia3.jpg" alt="03">
        <div class="info">
            <h4>Sophie Germain, una de las mentes más influyentes de la matemática</h4>
            <p>
                Marie-Sophie Germain fue una matemática autodidacta que nació el 1 de abril de 1776, en París,
                Francia. Sus padres fueron Marie-Madelaine Gruguelin y Ambroise-François Germain.

                Como era una ávida lectora, su interés por las matemáticas surgió leyendo dos textos que fueron
                clave en su decisión: Historia de las Matemáticas de Jean-Baptiste Montucla y la leyenda de la
                muerte de Arquímedes a manos de soldados romanos mientras estaba absorto en un problema geométrico.
                Esta última historia dejó muy intrigada a Sophie, que quiso saber por qué las matemáticas podían
                lograr que alguien esté tan concentrado como para no notar que su vida corría peligro.
            </p>
            <p> <a class="enlace" href="https://www.tekcrispy.com/2022/07/31/sophie-germain-matematica/">Enlace
                    a la nota completa</a>
            </p>
        </div>

    </div>
    <div class="servicio">
        <img src="images/noticia4.jpeg" alt="04">
        <div class="info">
            <h4>Google presenta Minerva, una IA capaz de resolver problemas de matemáticas paso a paso</h4>
            <p>
                En los últimos años hemos visto avances impresionantes en el mundo de la inteligencia artificial y,
                particularmente, en la rama del procesamiento del lenguaje natural. GPT-3 es el mejor ejemplo de
                ello, pero también BERT. El "problema" es que, mientras estos modelos brillan en las tareas de
                lenguaje natural, siguen a la cola en razonamiento cuantitativo. En mates, por ejemplo.
            </p>
        </div>

    </div>
    <p></p>
    <footer class="holder">
        <p>
            Diseñado por Raúl Diaz - &copy;2022
        </p>