<main class="holder">
    <div> <img src="images/primaria.png" alt="primaria"></div>
    <p></p>
    <div class="recursos">
        <a href="http://www.kaxilkiuic.org.mx/wp-content/uploads/2020/07/CUADERNILLO_PRIMRIA_Matem%C3%A1ticas_compressed.pdf"
            target="_blank"><img src="images/Primaria/Recurso01.jpg" class="rounded-circle" alt="01"></a>
        <a href="#" target="_blank"> <img src="images/Primaria/Recurso02.jpg" alt="02"> </a>
        <a href="#" target="_blank"> <img src="images/Primaria/Recurso03.jpg" class="rounded-circle" alt="03"></a>
        <a href="#" target="_blank"> <img src="images/Primaria/Recurso04.jpg" alt="04"> </a>
        <a href="#" target="_blank"> <img src="images/Primaria/Recurso05.jpg" class="rounded-circle" alt="05"></a>
        <a href="#" target="_blank"> <img src="images/Primaria/Recurso06.jpg" class="rounded-circle" alt="06"></a>
        <a href="#" target="_blank"> <img src="images/Primaria/Recurso07.jpg" alt="07"></a>
        <a href="#" target="_blank"> <img src="images/Primaria/Recurso08.jpg" alt="08"></a>
    </div>
    <p></p>
    <footer class="holder">
        <p>
            Diseñado por Raúl Diaz - &copy;2022
        </p>