<main class="holder">
    <div> <img src="images/secundaria.jpg" alt="secundaria"></div>
    <p></p>
    <div class="recursos1">
        <img src="images/Secundaria/Recurso01.jpg" class="rounded-circle" alt="01">
        <a href="#" target="_blank"><img src="images/Secundaria/Recurso02.jpg" class="rounded-circle" alt="02"></a>
        <a href="#" target="_blank"><img src="images/Secundaria/Recurso03.jpg" class="rounded-circle" alt="03"></a>
        <a href="#" target="_blank"><img src="images/Secundaria/Recurso04.jpg" class="rounded-circle" alt="04"></a>
        <a href="#" target="_blank"><img src="images/Secundaria/Recurso05.jpg" alt="05"></a>
        <a href="#" target="_blank"><img src="images/Secundaria/Recurso06.jpg" class="rounded-circle" alt="06"></a>
        <a href="#" target="_blank"><img src="images/Secundaria/Recurso07.jpg" alt="07"></a>
        <a href="#" target="_blank"><img src="images/Secundaria/Recurso08.jpg" alt="09"></a>
        <a href="#" target="_blank"><img src="images/Secundaria/Recurso09.jpg" class="rounded-circle" alt="09"></a>
        <a href="#" target="_blank"><img src="images/Secundaria/Recurso10.jpg" alt="10"></a>
    </div>
    <p></p>
    <footer class="holder">
        <p>
            Diseñado por Raúl Diaz - &copy;2022
        </p>